.header{
  width: 100%;   
}
.header-size{
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  margin: auto;
}
.header-size h2{
  margin-left:10px;
  color: #00754A;
}
@media screen and (max-width:500px){
  .header-size h2{
      font-size: 18px;
  }
}